	h1 {
		color: purple;
		font-family: "Lato", sans-serif;
		font-size: 2em;
	}

	body {
		margin-left: 200px;
		margin-top: 150px;
	  }

	 nav {
		height: 100%;
		width: 150px;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		background-color: #1affc6c4;
		overflow-x: hidden;
		padding-top: 100px;
		color: #000000;
		font-family: "Lato", sans-serif;
		font-size: 1em;
	  }

	  header{
		height: 100px;
		width: 100%;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		background-color: #1affc6c4;
		overflow-x: hidden;
		padding-left: 150px;
	  }